@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

input{
    @include input-field;
    margin-top: .5rem;
}

.persona{

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 5rem;
        &-back{
            height: 1rem;
            width: 1rem;
            background-image: url('../../assets/icons/icon.png');
            background-color: transparent;
            border: none;
        }
        &-title{
            @include body_text;
        }
        &-progress {
            height: 0.5rem;
            width: 100%;
            background-color: #D0D0D0;
            &-bar{
                height: 100%;
                width: 20%;
                background-color: #F5AB4B;
            }
        }
    }
    &__title{
        @include headline_text;
        text-align: center;
        width: 81%;
        padding-bottom: .5rem;
        letter-spacing: .07rem;
        font-weight: normal;
        padding-top: 2.5rem;
    }

    &__form{
        width: 100%;
        padding: 0rem 0.5rem;       
        &-content{
            @include title_text;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1.5rem 0rem;
            margin: 0.5rem;
            font-size: .9rem;
            letter-spacing: 0.02rem;
        }
    }
    &__progress {
    height: 0.4rem;
    width: 100%;
    background-color: #D0D0D0;
        &-bar {
            height: 100%;
            width: 20%;
            background-color: #F5AB4B;
        }
        &-number{
            padding-top: .5rem;
            @include label_text;
        }
    }
}
