// className="results">
// <div className="results__page">
//     {renderComponent()}
// </div>
// <div className="results__nav">

.results{

    display: flex;
    flex-direction: column;
    min-height: 100vh; // Ensure the content extends to at least the full viewport height

    &__page{
        padding: 3.5rem 0rem;
    }

    &__nav{
        background-color: #ccbab5;
        display: flex;
        padding: 20px;
        text-align: center;
        justify-content: space-evenly;
    }
}