@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.skills {

    &__form {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        border: solid 2px lightgrey;
        border-radius: .5rem;
        // vertical-align: middle;
        margin: .2rem;

        .text_input {
            margin-bottom: .5rem
        }

        .dropdown {
            @include level_dropdown;
            
        }
        
    }

    label {
        display: flex;
        flex-direction: row;;
    }
}