@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


*{

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.gremlin-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    @include tablet {
        flex-direction: row;
    }
    @include desktop {
        flex-direction: row;
    }
    &__gremlin-container {
        text-align: center;
        background-color: $light-grey;
        padding: 2rem;
        align-items: center;

        .mobile-logo{
            padding: .5rem;
            width: 30rem;
            
            @include desktop {
                width: 30rem;
            }

        }
        h1{
            font-weight: lighter;
        }
        p {
            padding: 1rem;
        }
        .continue-btn {
            @include homepage_button;
        }
        @include tablet {
            padding: 5rem;
        }

    }
    &__onboarding-container {
        align-items: center;
        justify-content: center;
        background-color: #CFCEFF;
        padding: 1.5rem;

        h2{
            font-weight: lighter;
        }
        h2 img {
            width: 2rem;
            vertical-align: middle;
        }
        p {
            padding: .5rem 0rem 2rem;
        }
        .top-stars, .bottom-stars {
            display: none;
        }

        @include tablet {
            border-radius: 2%;
            margin: 4rem;
            position: relative;

            .top-stars {
                display: block;
                position: absolute;
                top: -3rem;
                right: -3rem;
            }
            .bottom-stars {
                display: block;
                position: absolute;
                bottom: -3rem;
                left: -3rem;
            }
        }

        @include desktop {
            border-radius: 2%;
            margin: 6rem;
            position: relative;

            .top-stars {
                display: block;
                position: absolute;
                top: -3rem;
                right: -3rem;
            }
            .bottom-stars {
                display: block;
                position: absolute;
                bottom: -3rem;
                left: -3rem;
            }
        }
    }

    &__gremlin-containter, &__onboarding-container {
        @include desktop {
            flex: 1;
        }
    }
}
