.back__button{
    background-image: url('../../assets/icons/icon.png');
    height: 1rem;
    width: 1rem;
    background-color: transparent;
    border: none;
}

.back__arrow{
    height: 100%;
    width: 100%;
}