@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.step {
    display: flex;
    flex-direction: column;

}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem .5rem;

}

.image{
    height: 2rem;
    width: 2rem;
    background-color: black;
    margin: 1rem;
}

.number{
    margin: 1rem;
    font-size: 43.36px;
}

.sub-box {
    margin-left: 1rem;
}

.title {
    font-size: 19px;
}

.content {
    font-size: 13px;
    font-weight: normal;
}
