@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

textarea{
    border-radius: 10px;
    color: #515151;
    padding: 1rem;
    border: none;
    height: 6rem;
    background-color: #E5D5D1;
    width: -webkit-fill-available;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}


.strengths{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 5.6rem;
        align-items: center;
        @include desktop{
            justify-content: space-between;
            padding-right: 4rem;
            padding-left: 2rem;
        }
        &-back{
            background-image: url('../../assets/icons/icon.png');
            height: 1.5rem;
            width: 1.5rem;
            background-color: transparent;
            border: none;
            background-size: cover;
            @include desktop{
                background-size: cover;
                height: 2rem;
                width: 2rem;
            }
        }
        &-title{
            @include body_text;
        }
    }

    &__progress {
        width: -webkit-fill-available;
        position: relative;
        font-size: 12px;

        &-bar {
            height: 0.3rem;
            background-color: #E6E0E9;
            z-index: 0;
            position: relative;
            top: 0.8rem;
        }
        &-position {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            z-index: 1;
            position: relative;

            &-1 {
                background: #CFCEFF;
                width: 1.3rem;
                height: 1.3rem;
                display: flex;
                border-radius: 1rem;
                align-items: center;
                justify-content: center;

                &-b {
                    background:  #F5AB4B;
                    width: .8rem;
                    height: .8rem;
                    display: flex;
                    border-radius: 1rem;
                    align-items: center;
                    justify-content: center;
                }
                &-c {
                    background: #CFCEFF;
                    width: .8rem;
                    height: .8rem;
                    display: flex;
                    border-radius: 1rem;
                    align-items: center;
                    justify-content: center;
                }
            }
            &-2 {
                background: #CFCEFF;
                width: 1.3rem;
                height: 1.3rem;
                display: flex;
                border-radius: 1rem;
                align-items: center;
                justify-content: center;
            }
            &-3{
                background: #CFCEFF;
                width: 1.3rem;
                height: 1.3rem;
                display: flex;
                border-radius: 1rem;
                align-items: center;
                justify-content: center;
            }
            &-4{
                background: #CFCEFF;
                width: 1.3rem;
                height: 1.3rem;
                display: flex;
                border-radius: 1rem;
                align-items: center;
                justify-content: center;
            }
            &-5{
                background: #CFCEFF;
                width: 1.3rem;
                height: 1.3rem;
                display: flex;
                border-radius: 1rem;
                align-items: center;
                justify-content: center;
            }
        }
    }



    // <div classNae="strengths__progress-position"> 
    //     <div className='strengths__progress-position-1'>
    //             <p>1</p>
    //         </div>
    //         <div className='strengths__progress-position-1b'></div>
    //         <div className='strengths__progress-position-1c'></div>
    //         <div className='strengths__progress-position-2'>
    //             <p>2</p>
    //         </div>
    //         <div className='strengths__progress-position-3'>
    //             <p>3</p>
    //         </div>
    //         <div className='strengths__progress-position-4'>
    //             <p>4</p>
    //         </div>
    //         <div className='strengths__progress-position-5'>
    //             <p>5</p>
    //         </div>
    // </div>
    // &__progress{
    //     background-color: aqua;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-evenly;
    //     align-items: center;
    //     width: 100%;
    //     font-size: xx-small;
    //     @include desktop{
    //         height: 0.8rem;
    //         border-radius: 5rem;
    //         width: 85%;
    //     }
    //     &-container{
    //         width: -webkit-fill-available;
    //         background-color: pink;
    //         }
    //         // &-bar {
    //         //     height: 100%;
    //         //     background-color: #F5AB4B;
    //         //     width: 20%;
    //         //     margin-left: 20%;
    //         //     @include desktop{
    //         //         border-radius: 5rem;
                    
    //         //     }
    //         // }
    //         &-number{
    //             padding-top: .5rem;
    //             @include label_text;
    //         }
    //         &-position-1{
    //             background: #F5AB4B;
    //             width: 1.5rem;
    //             height: 1.5rem;
    //             display: flex;
    //             border-radius: 1rem;
    //             align-items: center;
    //             justify-content: center;
    //             &b{
    //                 background: #CFCEFF;
    //                 width: .8rem;
    //                 height: .8rem;
    //                 display: flex;
    //                 border-radius: 1rem;
    //                 align-items: center;
    //                 justify-content: center;
    //             }
    //             &c{
    //                 background: #CFCEFF;
    //                 width: .8rem;
    //                 height: .8rem;
    //                 display: flex;
    //                 border-radius: 1rem;
    //                 align-items: center;
    //                 justify-content: center;
    //             }
    //         }
    //         &-position-2{
    //             background: #CFCEFF;
    //             width: 1.5rem;
    //             height: 1.5rem;
    //             display: flex;
    //             border-radius: 1rem;
    //             align-items: center;
    //             justify-content: center;
    //         }
    //         &-position-3{
    //             background: #CFCEFF;
    //             width: 1.5rem;
    //             height: 1.5rem;
    //             display: flex;
    //             border-radius: 1rem;
    //             align-items: center;
    //             justify-content: center;
    //         }
    //         &-position-4{
    //             background: #CFCEFF;
    //             width: 1.5rem;
    //             height: 1.5rem;
    //             display: flex;
    //             border-radius: 1rem;
    //             align-items: center;
    //             justify-content: center;
    //         }
    //         &-position-5{
    //             background: #CFCEFF;
    //             width: 1.5rem;
    //             height: 1.5rem;
    //             display: flex;
    //             border-radius: 1rem;
    //             align-items: center;
    //             justify-content: center;
    //         }
        // }

    &__title{
        @include headline_text;
        text-align: center;
        width: 81%;
        padding-bottom: .5rem;
        padding-top: .5rem;
        letter-spacing: .07rem;
        font-weight: normal;
        @include desktop{
            text-align: start;
        }
    }

    &__form{
        width: 100%;
        padding: 0rem .5rem;
        padding-top: .5rem;

        &-content{
            @include title_text;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0.5rem 0rem;
            margin: 0.5rem;
            font-size: .9rem;
            letter-spacing: 0.02rem;
            @include desktop{
                padding-right: 48rem;
                padding-left: 8rem;
            }
        }
    }
}

.step__text{
    @include label_text;
    padding: 0.5rem 0rem;
}

.button__next{
    @include button;
    margin-top: 2rem;
    margin-bottom: 1rem;
}