@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

textarea{
    @include form-field;
    margin-top: .5rem;
}


.strengths{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        @include headline_text;
        text-align: center;
        width: 81%;
        padding-bottom: .5rem;
        letter-spacing: .07rem;
        font-weight: normal;
    }

    &__form{
        padding: 0rem .5rem;
        &-content{
            @include title_text;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0.5rem 0rem;
            margin: 0.5rem;
            font-size: .9rem;
            letter-spacing: 0.02rem;
        }
    }
}

.step__text{
    @include label_text;
    padding: 0.5rem 0rem;
}

.button__next{
    @include button;
    margin-top: 2rem;
    margin-bottom: 1rem;
}