

.header{
    padding: 1rem 0rem;

    &__top{
        display: flex;
        justify-content: flex-start;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }

    &__back{
        display: flex;
        justify-content: flex-start;
    }

    &__title{
        width: 100%;
        padding-left: 20%;
    }
}

