@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

// *{
//     background-color: $light-yellow;
//     background-size: cover 
// }
textarea {
    @include form-field;
}
.growth {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        @include title_text;
    }

    &__header{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 5rem;
        &-back{
            height: 1rem;
            width: 1rem;
            background-image: url('../../assets/icons/icon.png');
            background-color: transparent;
            border: none;
        }
        &-title{
            @include body_text;
        }
        &-progress {
            height: 0.5rem;
            width: 100%;
            background-color: #D0D0D0;
            &-bar{
                height: 100%;
                width: 20%;
                background-color: #F5AB4B;
            }
        }
    }
    &__progress {
        height: 0.4rem;
        width: 100%;
        background-color: #D0D0D0;
        &-bar {
            height: 100%;
            width: 20%;
            margin-left: 80%;
            background-color: #F5AB4B;
        }
        &-number{
            padding-top: .5rem;
            @include label_text;
        }
    }

    &__title{
        @include headline_text;
        text-align: center;
        width: 81%;
        padding-bottom: .5rem;
        padding-top: .5rem;
        letter-spacing: .07rem;
        font-weight: normal;

        @include desktop {
            text-align: start;
        }
    }


    &__form {
        width: 100%;
        padding: 0rem .5rem;
        padding-top: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__question {
        @include title_text;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 0rem;
        margin: 0.5rem;
        font-size: .9rem;
        letter-spacing: 0.02rem;
        width: 100%;
        @include desktop{
            padding-right: 48rem;
            padding-left: 8rem;
            @include title_text;
        }
    }

    .skills-label{
        margin-top: .5rem;
        margin-left: 0.5rem;
        @include body_text;


        .text-label {
            width: 100%;
        }
        .dropdown-label {
            margin-left: 10.25rem;
            @include tablet {
                margin-left: 9.5rem;
            }
            @include desktop {
                margin-left: 9rem;
            }
        }
    }

    .skills-array {
        padding: .25rem;
    }

    .skills__input {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        border: solid 2px lightgrey;
        border-radius: .5rem;

        .text_input {
            margin: .25rem;
            width: 14rem;
        }

        .dropdown {
            @include level_dropdown;
            width: 14rem;
        }
        
    }


    footer{
        margin-bottom: 1rem;
    }
}

button  {
    border-color: transparent;
    background-color: transparent;
}
.delete-icon {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0rem;
    border-color: transparent;
    background-color: transparent;
    margin: .25rem;
}
.button__submit {
    @include button;
}

.add-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border: dashed 2px lightgrey;
    border-radius: .5rem;
    // vertical-align: middle;
    margin: .2rem;
    

    // padding-top: 5rem;
    button {
        font-size: large;
        text-align: center;
        opacity: 0.75;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    
    }
}

h6 {
    margin-top: .25rem;
    font-size: 12px;
    color: gray;
}



