@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

// *{
//     background-color: $light-yellow;
//     background-size: cover 
// }
textarea {
    @include form-field;
    letter-spacing: 0.03rem;
    line-height: 1.3rem;
}
.growth {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        @include title_text;
    }

    &__header{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 5rem;
        &-back{
            height: 1rem;
            width: 1rem;
            background-image: url('../../assets/icons/icon.png');
            background-color: transparent;
            border: none;
        }
        &-title{
            @include body_text;
        }
        &-progress {
            height: 0.5rem;
            width: 100%;
            background-color: #D0D0D0;
            &-bar{
                height: 100%;
                width: 20%;
                background-color: #F5AB4B;
            }
        }
    }
    &__progress {
        width: -webkit-fill-available;
        position: relative;
        font-size: 12px;

        &-bar {
            height: 0.3rem;
            background-color: #E6E0E9;
            z-index: 0;
            position: relative;
            top: 0.8rem;
        }
        &-position {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            z-index: 1;
            position: relative;

            &-1 {
                background-color: #6361CE;
                color: white;
                width: 1.3rem;
                height: 1.3rem;
                display: flex;
                border-radius: 1rem;
                align-items: center;
                justify-content: center;

                &-b {
                    background-color: #6361CE;
                    width: .8rem;
                    height: .8rem;
                    display: flex;
                    border-radius: 1rem;
                    align-items: center;
                    justify-content: center;
                }
                &-c {
                    background-color: #6361CE;
                    width: .8rem;
                    height: .8rem;
                    display: flex;
                    border-radius: 1rem;
                    align-items: center;
                    justify-content: center;
                }
            }
            &-2 {
                background: #F5AB4B;
                width: 1.3rem;
                height: 1.3rem;
                display: flex;
                border-radius: 1rem;
                align-items: center;
                justify-content: center;
            }
            &-3 {
                background: #CFCEFF;
                width: 1.3rem;
                height: 1.3rem;
                display: flex;
                border-radius: 1rem;
                align-items: center;
                justify-content: center;
            }
            &-4 {
                background: #CFCEFF;
                width: 1.3rem;
                height: 1.3rem;
                display: flex;
                border-radius: 1rem;
                align-items: center;
                justify-content: center;
            }
            &-5 {
                background: #CFCEFF;
                width: 1.3rem;
                height: 1.3rem;
                display: flex;
                border-radius: 1rem;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__title{
        @include headline_text;
        text-align: center;
        width: 100%;
        padding-bottom: .5rem;
        padding-top: .5rem;
        letter-spacing: .07rem;
        font-weight: normal;

        @include desktop {
            text-align: start;
        }
    }

    &__desktop-image {
        display: flex;
        flex-direction: column;
        // justify-content: center;

        @include desktop {
            // display: flex;
            flex-direction: row;

        }


        .weak-image {
            display: none;

            @include desktop {
                display:block;
                // padding-right: 20rem;
                width: 30rem;
                height: 30rem;
                margin-top: 12rem;
            }
        }
    }
    &__form-inputs {


        @include desktop {
            padding-right: 18rem;
            padding-left: 8rem;

        }
    }

    &__form {
        width: 100%;
        padding: 0rem .5rem;


    }
    &__question {
        @include title_text;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 0rem;
        margin: 0.5rem;
        font-size: .9rem;
        letter-spacing: 0.02rem;

    }

    .skills-label{
        margin-top: .5rem;
        margin-left: 0.5rem;
        @include body_text;


        .text-label {
            width: 100%;
        }
        .dropdown-label {
            margin-left: 5.25rem;
            @include tablet {
                margin-left: 4.5rem;
            }
            @include desktop {
                margin-left: 5rem;
            }
        }
    }

    .skills-array {
        padding: .25rem;
    }

    .skills__input {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        border: solid 2px lightgrey;
        border-radius: .5rem;

        .text_input {
            margin: .25rem;
            width: 9rem;

            @include desktop {

                width: 10rem;
            }
        }

        .dropdown {
            @include level_dropdown;
            margin-right: .25rem;
            @include desktop {

                width: 11rem;
            }
        }
        
    }

    &__feelings{
        display: flex;
        justify-content: space-between;
        padding: 0rem 1rem;
        padding-bottom: 1.6rem;
        &-modal{
            color:#6361CE;
            background: transparent;
        }
    }

    footer{
        margin-bottom: 1rem;
    }
}

button  {
    border-color: transparent;
    background-color: transparent;
}
.delete-icon {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0rem;
    border-color: transparent;
    background-color: transparent;
    margin: .25rem;
}
.button__submit {
    @include button;
}

.add-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border: dashed 2px lightgrey;
    border-radius: .5rem;
    // vertical-align: middle;
    margin: .2rem;
    

    // padding-top: 5rem;
    button {
        font-size: large;
        text-align: center;
        opacity: 0.75;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    
    }
}

h6 {
    margin-top: .25rem;
    font-size: 12px;
    color: gray;
}



