@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.growth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem .5rem;

    &__header{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 5rem;
        &-back{
            height: 1rem;
            width: 1rem;
            background-image: url('../../assets/icons/icon.png');
            background-color: transparent;
            border: none;
        }
        &-title{
            @include body_text;
        }
        &-progress {
            height: 0.5rem;
            width: 100%;
            background-color: #D0D0D0;
            &-bar{
                height: 100%;
                width: 20%;
                background-color: #F5AB4B;
            }
        }
    }
    &__progress {
        height: 0.4rem;
        width: 100%;
        background-color: #D0D0D0;
        &-bar {
            height: 100%;
            width: 20%;
            margin-left: 80%;
            background-color: #F5AB4B;
        }
        &-number{
            padding-top: .5rem;
            @include label_text;
        }
    }

    &_header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;

        .title{
            @include headline_text
        }
    }
    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_question {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 100%;
        justify-content: space-between;
    
        // @include body_text
    }
    &_question-text-area {
        margin: .5rem;
        @include form-field;
    }
    &_checkbox-label {
        justify-content: space-between;
    }
    
    .submit-button {
        @include button;
    }
}