@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.checkpoint {
    &__header {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 5.6rem;
        align-items: center;
        &-back {
            background-image: url('../../assets/icons/icon.png');
            height: 1.5rem;
            width: 1.5rem;
            background-color: transparent;
            border: none;
            background-size: cover;
            @include desktop{
                background-size: cover;
                height: 2rem;
                width: 2rem;
            }
        }
    }

    &__button-container{
        display: flex;
        justify-content: center;
        padding: 1rem 0rem;
    }
    &__button-next{
        @include button;
    }
}