@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

textarea{
    @include form-field;
    margin-top: .5rem;
}


//TODO: cleanup styling, fix header, and make it work better
.future {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 5.6rem;
        align-items: center;
        &-back{
            background-image: url('../../assets/icons/icon.png');
            height: 1.5rem;
            width: 1.5rem;
            background-color: transparent;
            border: none;
            background-size: cover;
        }
        &-title{
            @include body_text;
        }
    }
    &__progress {
        height: 0.4rem;
        width: 100%;
        background-color: #D0D0D0;
        &-bar {
            height: 100%;
            width: 20%;
            margin-left: 40%;
            background-color: #F5AB4B;
        }
        &-number{
            padding-top: .5rem;
            @include label_text;
        }

    &__title{
            @include headline_text;
            text-align: center;
            width: 81%;
            padding-bottom: .5rem;
            padding-top: .5rem;
            letter-spacing: .07rem;
            font-weight: normal;

            @include desktop {
                text-align: start;
            }
        }

    &__step-text{
            @include label_text;
            text-align: center;
        }

    &__form {
        width: 100%;
        padding: 0rem .5rem;
        padding-top: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-question {
            @include title_text;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0.5rem 0rem;
            margin: 0.5rem;
            font-size: .9rem;
            letter-spacing: 0.02rem;
            width: 100%;
            @include desktop{
                padding-right: 60rem;
                padding-left: 8rem;
                
            }
        }

        &-dropdown {
            @include dropdown;

            @include desktop {
                width: 70%
            }
        }
    }
    footer{
        // position: relative;
        margin-bottom: 1rem;

    }
    .button__next {
        @include button;
    }
    }
}